@import "tailwindcss";

@theme {
  --color-seSky: #C3EBFA;
  --color-seSkyLight: #EDF9FD;
  --color-sePurple: #CFCEFF;
  --color-sePurpleLight: #F1F0FF;
  --color-seYellow: #FAE27C;
  --color-seYellowLight: #FEFCE8;
}

.react-calendar {
  border: none !important;
  font-family: "Inter", sans-serif !important;
  width: 100% !important;
}

.react-calendar__tile--active {
  background-color:#C3EBFA !important;
  color: black !important;
}

